$BGCOLOR=rgb({{base00-hex}})
$FGCOLOR=rgb({{base05-hex}})
$BORDER_FOCUS=rgba({{base06-hex}}ee)
$BORDER_NORMAL=rgba({{base04-hex}}ee)

$BLACK=rgba({{base00-hex}}ee)
$RED=rgba({{base08-hex}}ee)
$GREEN=rgba({{base0B-hex}}ee)
$YELLOW=rgba({{base0A-hex}}ee)
$BLUE=rgba({{base0D-hex}}ee)
$PURPLE=rgba({{base0E-hex}}ee)
$AQUA=rgba({{base0C-hex}}ee)
$GRAY=rgba({{base03-hex}}ee)
$BRGRAY=rgba({{base04-hex}}ee)
$BRRED=rgba({{base12-hex}}ee)
$BRGREEN=rgba({{base14-hex}}ee)
$BRYELLOW=rgba({{base13-hex}}ee)
$BRBLUE=rgba({{base16-hex}}ee)
$BRPURPLE=rgba({{base17-hex}}ee)
$BRAQUA=rgba({{base15-hex}}ee)
$WHITE=rgba({{base07-hex}}ee)
